<h2 class="text-[30px] leading-[36px]">Our latest collection</h2>
<div class="flex flex-wrap justify-center sm:justify-between gap-[50px]">
  <div
    class="max-w-[200px] w-full hover:scale-105 cursor-pointer transition-scale duration-300 rounded-[10px]"
    *ngFor="let p of products"
  >
    <mat-card
      (click)="addToCart(p)"
      class="h-[250px] flex flex-col justify-between w-full"
    >
      <img
        mat-card-image
        class="h-1/2 w-full object-cover"
        src="{{ p.image_url }}"
        alt="{{ p.name }}"
      />
      <div class="px-[10px] pb-[10px]">
        <mat-card-title>{{ p.name }}</mat-card-title>
        <mat-card-subtitle>
          {{ p.price | currency : "USD" }}
        </mat-card-subtitle>
      </div>
    </mat-card>
  </div>
</div>
